{% extends "base.html" %}
{% block content %}
<h2>Добавить операционную систему</h2>
<form method="POST" class="row g-3">
  <div class="col-md-4">
    <label class="form-label">Название ОС</label>
    <div class="input-group">
      <select class="form-select" name="os_name_id" required>
        <option value="" disabled selected>Выберите...</option>
        {% for os in os_names %}
          <option value="{{ os[0] }}">{{ os[1] }}</option>
        {% endfor %}
      </select>
      <a href="{{ url_for('add_os', next=request.path) }}" class="btn btn-outline-secondary" title="Добавить название ОС">+</a>
    </div>
  </div>
  <div class="col-md-4">
    <label class="form-label">Компания-разработчик</label>
    <input type="text" class="form-control" name="developer" maxlength="30" required placeholder="Apple, Google и т.д.">
  </div>
  <div class="col-md-2">
    <label class="form-label">Версия</label>
    <input type="text" class="form-control" name="latest_version" maxlength="30" required>
  </div>
  <div class="col-md-2">
    <label class="form-label">Дата релиза</label>
    <input type="date" class="form-control" name="release_date" min="1990-01-01" max="{{ today }}" required>
  </div>
  <input type="hidden" name="next_url" value="{{ next_url }}">
  <div class="col-12 d-flex justify-content-end">
    <button type="submit" class="btn btn-success mt-3">Добавить</button>
  </div>
</form>
{% endblock %}
