{% extends "base.html" %}
{% block content %}
  <h2>Устройство успешно добавлено!</h2>
  <p>Хотите добавить дополнительные характеристики?</p>
  <div class="d-flex flex-column" style="gap: 1em;">
    <a class="btn btn-primary" href="{{ url_for('add_specifications', device_id=device_id) }}">Добавить характеристики устройства</a>
    <a class="btn btn-primary" href="{{ url_for('add_display', device_id=device_id) }}">Добавить дисплей</a>
    <a class="btn btn-primary" href="{{ url_for('add_camera', device_id=device_id) }}">Добавить камеру</a>
    <a class="btn btn-primary" href="{{ url_for('add_battery', device_id=device_id) }}">Добавить батарею</a>
    <a class="btn btn-success" href="{{ url_for('table_view', table_name='devices') }}">Завершить</a>
  </div>
{% endblock %}
