{% extends "base.html" %}

{% block content %}
<style>
  .button-wrapper {
    display: flex;
    justify-content: center; /* горизонтальный центр */
    margin-top: 20px;
  }
  .btn-group-vertical > .btn {
    margin-bottom: 10px;
    min-width: 200px;
  }
</style>

<div class="button-wrapper">
  <div class="btn-group-vertical">
    <a href="{{ url_for('add_device') }}" class="btn btn-primary">Добавить устройство</a>
    <a href="{{ url_for('tables_list') }}" class="btn btn-primary">Просмотр таблиц</a>
    <a href="{{ url_for('statistic') }}" class="btn btn-primary">Статистика</a>
    <a href="{{ url_for('search') }}" class="btn btn-primary">Поиск</a>
    <a href="{{ url_for('all_devices') }}" class="btn btn-primary">Все устройства</a>
  </div>
</div>
{% endblock %}
