{% extends "base.html" %}
{% block content %}
  <h2>Статистика по таблицам</h2>
  <table class="table table-bordered w-auto">
    <thead>
      <tr>
        <th>Таблица</th>
        <th>Кол-во записей</th>
        <th>Кол-во атрибутов</th>
      </tr>
    </thead>
    <tbody>
      {% for table in stats %}
        <tr>
          <td>{{ table }}</td>
          <td>{{ stats[table] }}</td>
          <td>{{ columns_count[table] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
